[submodule "libraries/hl2sdk-cs2"]
	path = libraries/hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "libraries/metamod-source"]
	path = libraries/metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libraries/funchook"]
	path = libraries/funchook
	url = https://github.com/kubo/funchook
